<div class="wapper">
  <div class="container">
    <div class="warp__login">
      <form class="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <span class="form__title">Welcome</span>
        <app-input
          label="username"
          [control]="formLogin.get('name')"
        ></app-input>
        <app-input
          label="password"
          [control]="formLogin.get('pass')"
        ></app-input>
        <div class="form__button">
          <div class="form__button--warp">
            <div class="form__button--bg"></div>
            <button
              type="submit"
              [disabled]="formLogin.invalid"
              class="form__button--login"
            >
              Login
            </button>
          </div>
        </div>
        <div class="form__bottom">
          <ng-container>
            <a
              routerLink="product"
              (click)="checkLogin()"
              class="form__bottom--link"
              >Product &rarr;</a
            >
            <div *ngIf="activeRouting" class="form__bottom--check">
              Chức năng này cần phải Login
            </div>
          </ng-container>
          <span class="form__bottom--text">Don’t have an account?</span>
          <a href="#" class="form__bottom--signup">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div></div>
