<header class="header">
  <div class="header__box">
    <div class="header__logo">
      <img
        src="../../../assets/img/icon/grid-48 1.png"
        class="header__logo--icon"
      />
      <img
        src="../../../assets/img/logo.png"
        alt="logo-img"
        class="header__logo--image"
      />
    </div>
    <div class="header__infor">
      <img
        src="../../../assets/img/icon/alarm-bell.png"
        alt="notification"
        class="header__infor--notification"
      />
      <div class="header__account">
        <img
          src="../../../assets/img/icon/Group.png"
          alt="user-img"
          class="header__account--user"
        />
        <span class="header__account--desc">Welcome admin, tungnguyen</span>
      </div>
    </div>
  </div>
</header>
