<div class="navbar">
  <div class="navbar__information">
    <div class="navbar__information--left">
      <span class="text--first">ID:</span>
      <span class="text--first">Vnf IProvider:</span>
      <span class="text--first">Vnf Product name:</span>
      <span class="text--first">Software version:</span>
      <span class="text--first">VNFM info:</span>
      <span class="text--first">Version:</span>
    </div>
    <div class="navbar__information--right">
      <span class="text--second">0001</span>
      <span class="text--second">viettel</span>
      <span class="text--second">vMano</span>
      <span class="text--second">0.1</span>
      <span class="text--second">VNFM-1, VNFM-2</span>
      <span class="text--second">0.0.1</span>
    </div>
  </div>
  <div class="navbar__icon">
    <img
      src="../../../assets/img/icon/computer-monitor-svgrepo-com 1.png"
      alt="feature-icon"
      class="navbar__icon--image"
    />
    <img
      src="../../../assets/img/icon/monitor-network 1.png"
      alt="feature-icon"
      class="navbar__icon--image"
    />
    <img
      src="../../../assets/img/icon/image-01 2.png"
      alt="feature-icon"
      class="navbar__icon--image"
    />
    <img
      src="../../../assets/img/icon/settings-user 1.png"
      alt="feature-icon"
      class="navbar__icon--image"
    />
    <img
      src="../../../assets/img/icon/settings 1.png"
      alt="feature-icon"
      class="navbar__icon--image"
    />
  </div>
</div>
