
:host {
    width: 25%;
    display: flex;
    flex: 1;
    @media only screen and (max-width: 75em) {
        width: 33%;
        padding: 2.5rem 0 0 2.2rem;
    }
    @media only screen and (max-width: 56.25em) {
        width: 100%;
        justify-content: center;
        padding: 1.7rem .8rem 0 1.2rem;
        border-radius: 1.5rem;
    }
    @media only screen and (max-width: 42.5em) {
        width: 100%;
        border-radius: 1rem;
        justify-content: center;
    }
}
.navbar {
        padding: 3.5rem 2rem 0 2.5rem;
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;
        background-color: rgba(#74B816, .7);
        
       
        &__information {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 56.25em) {
                padding: 0 15rem;
                display: flex;
                justify-content:space-around;
            }
            @media only screen and (max-width: 42.5em) {
                padding: 0 2rem;
                display: flex;
                justify-content:space-between;
            }
            &--left {
                display: flex;
                flex-direction: column;
                margin-right: 2.3rem;
                @media only screen and (max-width: 75em) {
                    margin-right: 1.3rem;
                }
                @media only screen and (max-width: 56.25em) {
                    margin-right: 0;
                }
                @media only screen and (max-width: 42.5em) {
                    margin-right: 2rem;
                }
                
                span {
                    margin: .7rem 0;
                    @media only screen and (max-width: 75em) {
                        margin: 1rem 0;
                    }
                }
            }
            &--right {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                // @media only screen and (max-width: $bp-medium) {
                //     margin-left: .5rem;
                // }
               
                span {
                    margin: .7rem 0;
                    @media only screen and (max-width: 75em) {
                        margin: 1rem 0;
                    }
                }
            }
        }
        &__icon {
            padding: 3.5rem 0;
            @media only screen and (max-width: 75em) {
                display: flex;
                justify-content: center;
            }
            @media only screen and (max-width: 56.25em) {
                display: flex;
                justify-content: center;
            }
            @media only screen and (max-width: 42.5em) {
                display: flex;
                justify-content: center;
            }
            &--image {
                width: 2rem;
                height: 2rem;
                margin-right: 2rem;
            }
    
        }
    
    }
    
   