<swiper #swiper [pagination]="true" class="mySwiper">
  <ng-template swiperSlide>
    <div class="error" *ngIf="catchError">
      <div class="seven">
        <h1>{{ valueError }}</h1>
      </div>
    </div>
    <div class="flex-card">
      <app-card
        *ngFor="let card of cardDisplay as any"
        [title]="card['name']"
        [ram]="card['ram']"
        [cpu]="card['cpu']"
        [hdd]="card['hdd']"
      ></app-card>
    </div>
    <app-pagination
      [currentPage]="currentPage"
      [totalPage]="totalPage"
      (changePage)="clickChangePage($event)"
    ></app-pagination>
  </ng-template>
</swiper>
