/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import "~swiper/css/bundle";
$bp-big: 120em;
$bp-high: 87.5em; // 1400px
$bp-largest: 75em;     // 1200px
$bp-medium: 56.25em;   // 900px
$bp-small: 42.5em;  // 600px
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,36,121,0.20772058823529416) 44%),  url(./assets/img/bg.png);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    background-attachment: auto;
}
.title-primary {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
.text--second {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;
    }
}
.text--first {
    color: rgba(#ffffff, .8);
    font-size: 1.5rem;
    font-weight: 400;
    @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;
    }
}
.text-weight--400 {
    font-weight: 400;
}
.title-secondary {
    font-size: 3rem;
    font-weight: 400;
    color: #c4c2c2b6;
    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
    }
}