<div class="card">
  <div class="card__flex">
    <div class="card__label">
      <span>{{ title }}</span>
    </div>
    <!-- <div class="triangle"></div> -->
  </div>

  <div class="card__icon">
    <div class="card__icon--1">
      <img src="../../../assets/img/icon/computer-chip 1.png" alt="card-icon" />
      <span>1 vCPU x86</span>
    </div>
    <div class="card__icon--1">
      <img src="../../../assets/img/icon/hard-drive 2.png" alt="card-icon" />
      <span>1 vCPU x86</span>
    </div>
  </div>
  <div class="card__icon card__custom">
    <div class="card__icon--1">
      <img src="../../../assets/img/icon/computer-ram 1.png" alt="card-icon" />
      <span>1 vCPU x86</span>
    </div>
    <div class="card__icon--1">
      <img
        src="../../../assets/img/icon/computer-monitor-svgrepo-com 1.png"
        alt="card-icon"
      />
      <span>1 vCPU x86</span>
    </div>
  </div>
</div>
